<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
		<!-- Basic Page Needs
		================================================== -->
		<meta charset="utf-8">
		<title>DILACAK.COM</title>
		<meta name="description" content="">
		<meta name="author" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">

	<link rel="stylesheet" href="stylesheets/responsive-nav.css">

	<link rel="stylesheet" href="fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
	<link rel="stylesheet" href="fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
	<link rel="stylesheet" href="fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
	<link rel="stylesheet" href="stylesheets/layout.css">
	<link rel="stylesheet" href="stylesheets/custom2.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Sacramento" type="text/css">
	<link rel="stylesheet" href="font-awesome-4.0.3/css/font-awesome.min.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	<script src="javascript/jquery-1.10.1.js"></script>
	<script src="javascript/waypoint/waypoints.min.js"></script>
	<script src="javascript/responsive-nav.min.js"></script>
	<script src="javascript/dilacak.js"></script>


	<script type="text/javascript" src="fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
	<script type="text/javascript" src="fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
	<script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
	<script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
	<script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

</head>
<body>
	<div class="statusbar">
		 <div class="container">          	
        	
    	</div>
	</div>
	<div class="wrap active">
		<div class="plain-header">
			<div class="navigator active">
				<nav class="active container">
						<div class="logo columns five">
							<a href="">Logo</a>
						</div><!-- end three -->
						<div class="nav-toggle">
							<a href="#nav">Menu</a>		
						</div>
						<div class="nav-collapse nav-menu">
							<div class="columns ten">
								<ul>
									<li name="home" class="<%= yield_content :home_tab %>"><a href="/">Home</a></li>
									<li name="features" class="<%= yield_content :features_tab %>"><a href="/features">Features</a></li>
									<li name="pricing" class="<%= yield_content :pricing_tab %>"><a href="/pricing">Pricing</a></li>
									<li name="contact" class="<%= yield_content :contact_tab %>"><a href="/contact">Contact Us</a></li>
									<li name="how_it_works" class="<%= yield_content :how_it_works_tab %>"><a href="/how_it_works">Cara Kerja</a></li>
									<li name="about" class="<%= yield_content :about_tab %>"><a href="/about">About</a></li>
								</ul>
							</div> <!-- end eleven -->
							<div class="columns one">
								<ul class="right">
									<li><a href="http://app.dilacak.com/welcome" class="login-action">Login</a></li>
								</ul>
							</div> <!-- end two -->
						</div>				
				</nav>
			</div>
		</div>

		<div class="container main-content" name="features">
			<%= yield %>
	

		</div>			
	
	</div>
	<div class="footer">
		<div class="container">
			<div class="column one-third fsection">
				<h4>Social Network</h4>
				<div class="social">					
	                     <a href="https://www.facebook.com/dilacak" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
	                     <a href="https://twitter.com/dilacak" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
	                     <a href="http://www.linkedin.com/company/dilacak-com" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
	             </div>
			</div>
			<div class="column one-third fsection">				
				<div class="copy center">
               		<p>Copyright 2013 © - <a href"#">DILACAK.COM</a></p>
               	</div>
			</div>
			<div class="column one-third fsection">
				<h4>Contact</h4>
				<div class="address">
                  <p><i class="	fa fa-home color contact-icon"></i> Ruko Golden Blok G no 51 </p>
                  <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Summarecon Serpong</p>
                  <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Tanggerang.</p>
                  <p><i class="fa fa-phone color contact-icon"></i> 021-29419092 / 021-29419093 </p>
                  <p><i class="fa fa-envelope color contact-icon"></i> <a href="mailto:info@dilacak.com">info@dilacak.com</a></p>
               </div>				
			</div>			

		</div>
	</div>

<script>
	navToggle();
</script>

<!-- End Document
	================================================== -->
</body>
</body>
</html>
